body {
  background-color: #e1e1db;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: 'Source Code Pro', monospace;
  font-size: 0.9rem;
  color: #111111;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.menu > form {
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}

.menu > form > * {
  white-space: nowrap;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.left-pane {
  background-color: #fafafa;
  border: 4px solid #b4b4b4;
  border-radius: 4px;

  width: 50%;
  height: calc(100vh - 5.3rem);
  margin-right: 0.3rem;
}

.right-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #fffffa;
  border: 1px solid #b4b4b4;
  border-radius: 4px;

  width: 50%;
  height: calc(100vh - 5.3rem);
  margin-left: 0.3rem;

  padding-top: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  overflow-y: scroll;
}

.spinner {
  margin-top: 30vh;
  display: flex;
  justify-content: center;
}

.statistics {
  color: gray;
  font-size: 0.8rem;
  text-align: right;

  border-top: 1px solid #b4b4b4;
  padding-top: 0.3rem;
}

h3 {
  text-align: center;
  font-size: 1.1rem;
  color: gray;

  border-bottom: 1px solid #b4b4b4;
  padding-bottom: 0.3rem;

  margin-bottom: 1rem;
}

.ace_marker-layer .ace_active-line {
  background-color: #ffffcc !important;
}

.ace_gutter-cell {
  color: #b4b4b4;
}
